<?php defined('IN_SHOPDA') || exit;?>

<include file="common/global_vars"/>

<?php if(!empty($output['goods_list']) && is_array($output['goods_list'])){  ?>

<ul class="search-spdgoods-list">
  <?php foreach($output['goods_list'] as $key => $value){  ?>
  <li>
    <div class="spdgoods-name"><?php echo $value['goods_name'];?></div>
    <div class="spdgoods-price">￥<?php echo $value['goods_promotion_price'];?></div>
    <div class="spdgoods-pic"><img title="<?php echo $value['goods_name'];?>" src="<?php echo thumb($value, 60);?>" /></div>
    <a datype="btn_add_goods" data-spdgoods-id="<?php echo $value['goods_id'];?>" data-spdgoods-name="<?php echo $value['goods_name'];?>" data-spdgoods-price="<?php echo $value['goods_promotion_price'];?>" data-spdgoods-image="<?php echo thumb($value, 240);?>" href="javascript:;">添加</a> </li>
  <?php } ?>
</ul>
<div id="goods_pagination" class="pagination"> <?php echo $output['show_page'];?> </div>
<?php }else { ?>
<p class="no-record"><?php echo $lang['spd_no_record'];?></p>
<?php } ?>
<script type="text/javascript">
    $(document).ready(function(){ 
        $('#goods_pagination').find('.demo').ajaxContent({
            event:'click', 
            loaderType:"img",
            loadingMsg:"<?php echo ADMIN_STATIC_URL;?>/images/transparent.gif",
            target:'#mb_special_goods_list'
        });
    });
</script> 
